.intro-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    text-align: center;
    color: #5C2685;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 3rem 0;
}

.intro-header img {
    height: 3rem;
    width: auto;
}

.laptop {
    margin: 1rem 0;
}

.laptop img {
    height: 10rem;
    width: auto;
}

.intro-inner .title {
    width: 100%;
}

.intro-inner .title h3 {
    margin-bottom: 2rem;
}

.prompt, .prompt a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt a {
    color: #5C2685;
    font-size: 90%;
    border-bottom: 0.1rem solid #5C2685;
    text-decoration: none;
}

.prompt a img {
    margin-left: 0.5rem;
    height: 0.5rem;
    width: auto;
}

@media screen and (max-width: 768px) {
    .intro-header img {
        height: 3rem;
    }
    .intro-inner {
        width: 90%;
    }
    .laptop img {
        height: 6rem;
    }
    .intro-inner .title h3 {
        font-size: 90%;
    }
    .prompt a {
        font-size: 70%;
    }
}